@font-face {
  font-family: Railway;
  src: url("../fonts/Raleway-VariableFont_wght.ttf");
}
* {
  font-family: Railway;
}
ol li {
  list-style-type: decimal;
}

.blog-header {
  text-align: center;
  margin-top: 20px;
  margin-bottom: 40px;
  color: #263248;
  font-weight: 700;
  font-size: 48px;
  line-height: 56px;
  max-width: unset;
  margin: 0 0 60px;
}

aside {
  float: left;
  position: sticky !important;
  margin-left: 8.333333%;
  max-width: 16.666667%;
  top: 20px;
  padding-left: 0px !important;
  padding-right: 10px !important;
  max-height: 499px;
  overflow: visible;
  ol {
    padding: 0;
    margin: 0;
    margin-bottom: 0;
  }
}
figure {
  display: inline-flex !important;
  figcaption {
    align-self: flex-end;
    border-left: 1px solid #126bc0;
    font-style: italic;
    font-size: 16px;
    line-height: 24px;
    color: #4f4f4f;
  }
}

.content-list h5 {
  font-weight: 700;
  font-size: 18px;
  line-height: 24px;
  color: #263248;
  margin: 0 0 20px;
}
.content-list li {
  margin: 12px 0 0 0;
  padding: 0 0 0 2px;
  list-style: decimal;
  color: #4f4f4f;
  font-style: normal;
  font-weight: 400;
  line-height: inherit;
  font-feature-settings: "pnum" on, "lnum" on;
}
.content-list li::marker {
  vertical-align: bottom;
}
.content-list li a {
  font-weight: 500;
  font-size: 14px;
  line-height: 18px;
  color: #4f4f4f;
  text-decoration: none !important;
  transition: color 0.3s ease-in-out;
}
.content-list li a:hover {
  outline: 0;
  color: #0757a4;
}

.second-row.row {
  flex-wrap: nowrap;
  flex-direction: column;
  align-items: center;
}

.row ul {
  padding: 0 0 0 20px;
  li {
    list-style: disc;
    font-size: 16px;
    line-height: 21px;
    margin: 16px 0 0 0;

    b {
      font-style: italic;
    }
  }
}
ol {
  margin: 20px 0;
  padding: 0 0 0 20px;
}
.row > p {
  font-size: 18px;
  line-height: 24px;
  color: #4f4f4f;
  margin: 0;
}
.row > h2 {
  font-weight: 700;
  font-size: 28px;
  line-height: 32px;
  color: #263248;
  margin: 24px 0 16px 0;
}
.row > h3 {
  font-weight: 700;
  font-size: 24px;
  line-height: 40px;
  color: #263248;
  margin: 10px 0;
}
.row > img {
  margin-top: 10px;
  margin-bottom: 30px;
}
.works-list {
  li {
    /* list-style-position: inside; */
    margin-top: 10px;
    margin-bottom: 15px;
  }
  li::marker {
    vertical-align: top;
    font-size: 18px;
  }
}
@media only screen and (max-width: 1440px) {
  aside {
    max-width: 20.666667%;
    margin-left: 4.333333%;
  }
}
@media only screen and (max-width: 993px) {
  .blog-header {
    margin: 10px 0 25px;
  }
  .first-row {
    margin-left: 8.3%;
  }
  aside {
    max-width: 80%;
    float: none;

    .content-list {
      h5 {
        margin-left: -5%;
      }
      margin-left: 10.3%;
      margin-top: 10px;
      /* border-right: 2px solid #126bc0; */
      li {
        padding-left: 10px;
      }
    }
  }
  figure {
    flex-direction: column;
    align-items: center;
    img {
      padding-left: 0 !important;
      padding-right: 0 !important;
    }
    figcaption {
      align-self: center;
      margin-top: 16px;
      line-height: 24px;
    }
  }
}
